{% extends "base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'main/styles.css' %}" />
{% endblock css %}
{% block title %}
    UniRecka
{% endblock title %}
{% block content %}
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button"
                    data-bs-target="#myCarousel"
                    data-bs-slide-to="0"
                    class="active"
                    aria-label="Slide 1"
                    aria-current="true"></button>
            <button type="button"
                    data-bs-target="#myCarousel"
                    data-bs-slide-to="1"
                    aria-label="Slide 2"
                    class=""></button>
            <button type="button"
                    data-bs-target="#myCarousel"
                    data-bs-slide-to="2"
                    aria-label="Slide 3"
                    class=""></button>
        </div>
        <div class="carousel-inner padding-top">
            <div class="carousel-item carousel-item-next carousel-item-start">
                <svg class="bd-placeholder-img"
                     width="100%"
                     height="100%"
                     xmlns="http://www.w3.org/2000/svg"
                     aria-hidden="true"
                     preserveAspectRatio="xMidYMid slice"
                     focusable="false">
                    <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
                </svg>
                <div class="container">
                    <div class="carousel-caption text-start">
                        <h1>Opinie innych.</h1>
                        <p>
                            Szukasz opinii studentów lub absolwentów na temat Twojej
                            wymarzonej uczelni? Zapoznaj się z opiniami na temat wielu
                            uczelni w Polsce.
                        </p>
                        <p>
                            <a class="btn btn-lg btn-primary" href={% url 'university_list' %}>Przeglądaj opinie</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <svg class="bd-placeholder-img"
                     width="100%"
                     height="100%"
                     xmlns="http://www.w3.org/2000/svg"
                     aria-hidden="true"
                     preserveAspectRatio="xMidYMid slice"
                     focusable="false">
                    <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
                </svg>
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Dlaczego warto?</h1>
                        <p>
                            Nasza aplikacja pomaga uczniom podjąć decyzję odnośnie wyboru
                            uczelni. Dzięki opiniom naszych użytkownikom portal UniRecka
                            daje możliwość poznania uczelni "od kuchni".
                        </p>
                        <p>
                            <a class="btn btn-lg btn-primary" href="{% url 'about' %}">O nas</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="carousel-item active carousel-item-start">
                <svg class="bd-placeholder-img"
                     width="100%"
                     height="100%"
                     xmlns="http://www.w3.org/2000/svg"
                     aria-hidden="true"
                     preserveAspectRatio="xMidYMid slice"
                     focusable="false">
                    <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
                </svg>
                <div class="container">
                    <div class="carousel-caption text-end">
                        <h1>Dołącz do naszej społeczności</h1>
                        <p>
                            Jesteś studentem lub absolwentem uczelni wyższej w Polsce?
                            Załóż konto już dziś i dodaj opinię o uczelni, na której
                            studiowałeś.
                        </p>
                        <p>
                            <a class="btn btn-lg btn-primary" href="{% url 'register' %}">Załóż konto</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev"
                type="button"
                data-bs-target="#myCarousel"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next"
                type="button"
                data-bs-target="#myCarousel"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <hr class="m-0" />
    <div class="container mt-5">
        <h1 class="mb-5">
            Trzy najlepsze uczelnie w Polsce według <a href="https://www.shanghairanking.com/rankings/arwu/2022">Academic Ranking of World Universities</a>
        </h1>
        <div class="row">
            <div class="col-lg-4 d-flex flex-column align-items-center">
                <img src="{% static 'main/jag.jpg' %}"
                     alt=""
                     class="bd-placeholder-img rounded-circle"
                     width="140"
                     height="140"
                     role="img"
                     aria-label="Placeholder"
                     preserveAspectRatio="xMidYMid slice"
                     focusable="false">
                <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
                <h2 class="fw-normal">Uniwersytet Jagielloński w Krakowie</h2>
                <p>
                    Uniwersytet Jagielloński, założony w 1364 roku, jest jednym z najstarszych i najbardziej renomowanych uniwersytetów w Europie. Zlokalizowany w Krakowie, Polska, UJ odznacza się bogatą historią, doskonałą reputacją i silnym akademickim zapleczem.
                </p>
                <p>
                    <a class="btn btn-primary" href="#">Zobacz opinie</a>
                </p>
            </div>
            <div class="col-lg-4 d-flex flex-column align-items-center">
                <img src="{% static 'main/uw.jpg' %}"
                     alt=""
                     class="bd-placeholder-img rounded-circle"
                     width="140"
                     height="140"
                     role="img"
                     aria-label="Placeholder"
                     preserveAspectRatio="xMidYMid slice"
                     focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
                <h2 class="fw-normal">Uniwersytet Warszawski</h2>
                <p>
                    UW oferuje szeroki wybór kierunków i programów studiów na różnych dziedzinach w ramach swoich 20 wydziałów. Uczelnia jest znana z wysokiej jakości nauczania, zaangażowania w badania naukowe i promowania intelektualnego rozwoju studentów.
                </p>
                <p>
                    <a class="btn btn-primary" href="#">Zobacz opinie</a>
                </p>
            </div>
            <div class="col-lg-4 d-flex flex-column align-items-center">
                <img src="{% static 'main/agh.jpg' %}"
                     alt=""
                     class="bd-placeholder-img rounded-circle"
                     width="140"
                     height="140"
                     role="img"
                     aria-label="Placeholder"
                     preserveAspectRatio="xMidYMid slice"
                     focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
                <h2 class="fw-normal">Akademia Górniczo-Hutnicza w Krakowie</h2>
                <p>
                    AGH oferuje szeroki wybór kierunków studiów związanych z naukami technicznymi, inżynieryjnymi oraz naukami przyrodniczymi. Uczelnia jest znana z wysokiego poziomu nauczania i praktycznego podejścia do kształcenia, które przygotowuje studentów do skutecznego działania w praktyce.
                </p>
                <p>
                    <a class="btn btn-primary" href="#">Zobacz opinie</a>
                </p>
            </div>
        </div>
    </div>
{% endblock content %}
