{% extends "base.html" %}
{% load static i18n %}

{% block title %}
    {% trans "Zmień hasło" %}
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'account/change_password.css' %}">
{% endblock css %}

{% block content %}
    <div class="container mt-5">
        {% for error in form.new_password2.errors %}
            <div class="row">
                <div class="alert alert-danger">
                    {% if error == 'The two password fields didn’t match.' %}
                        {% trans "Hasła nie są identyczne." %}
                    {% elif error == 'This password is too short. It must contain at least 8 characters.' %}
                        {% trans "Hasło musi zawierać przynajmniej 8 znaków." %}
                    {% elif error == 'The password is too similar to the username.' %}
                        {% trans "Hasło jest zbyt podobne do nazwy użytkownika." %}
                    {% elif error == 'This password is too common.' %}
                        {% trans "Hasło jest zbyt popularne." %}
                    {% elif error == 'This password is entirely numeric.' %}
                        {% trans "Hasło składa się tylko z cyfr." %}
                    {% else %}
                        {{ error }}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        {% for error in form.old_password.errors %}
            <div class="row">
                <div class="alert alert-danger">
                    {% if error == 'Your old password was entered incorrectly. Please enter it again.' %}
                        {% trans "Twoje stare hasło jest nieprawidłowe, spróbuj ponownie." %}
                    {% else %}
                        {{ error }}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <div class="row">
            <h1 class="p-0">{% trans "Zmień hasło" %}</h1>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="row mt-2">
                <label class="p-0 mb-1 form-label" for="id_old_password">{% trans "Stare hasło" %}</label>
                <input type="password" class="form-control text-bg-dark" id="id_old_password" name="old_password" placeholder="Stare hasło" required>
            </div>
            <div class="row mt-2">
                <label class="p-0 mb-1 form-label" for="id_new_password1">{% trans "Nowe hasło" %}</label>
                <input type="password" class="form-control text-bg-dark" id="id_new_password1" name="new_password1" placeholder="Nowe hasło" required>
            </div>
            <div class="row mt-2">
                <label class="p-0 mb-1 form-label" for="id_new_password2">{% trans "Powtórz nowe hasło" %}</label>
                <input type="password" class="form-control text-bg-dark" id="id_new_password2" name="new_password2" placeholder="Powtórz nowe hasło" required>
            </div>
            <div class="row mt-4 d-flex justify-content-center align-items-center">
                <input class="btn btn-primary" type="submit" value="{% trans 'Zmień hasło' %}">
            </div>
        </form>
    </div>
{% endblock content %}
