{% extends "base.html" %}
{% load static %}
{% block title %}
    Change Password
{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{% static 'account/change_password.css' %}">
{% endblock css %}
{% block content %}
    <div class="container mt-5">
        <div class="row">
            <h1 class="p-0">Zmień hasło</h1>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="row mt-2">
                <label class="p-0 mb-1 form-label" for="id_old_password">Stare hasło</label>
                <input type="password"
                       class="form-control text-bg-dark"
                       id="id_old_password"
                       name="old_password"
                       placeholder="Old Password"
                       required>
            </div>
            <div class="row mt-2">
                <label class="p-0 mb-1 form-label" for="id_new_password1">Nowe hasło</label>
                <input type="password"
                       class="form-control text-bg-dark"
                       id="id_new_password1"
                       name="new_password1"
                       placeholder="New Password"
                       required>
            </div>
            <div class="row mt-2">
                <label class="p-0 mb-1 form-label" for="id_new_password2">Powtórz nowe hasło</label>
                <input type="password"
                       class="form-control text-bg-dark"
                       id="id_new_password2"
                       name="new_password2"
                       placeholder="Confirm New Password"
                       required>
            </div>
            <div class="row mt-4 d-flex justify-content-center align-items-center">
                <input class="btn btn-primary" type="submit" value="Zmień hasło">
            </div>
        </form>
    </div>
{% endblock content %}
