{% extends "base.html" %}
{% load static %}

{% block title %}
    Change Password
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'account/change_password.css' %}">
{% endblock css %}

{% block content %}
    <div class="container mt-5">
        {% for error in form.new_password2.errors %}
            <div class="row">
                <div class="alert alert-danger">
                    {% if error == 'The two password fields didn’t match.' %}
                        Hasła nie są identyczne.
                    {% elif error == 'This password is too short. It must contain at least 8 characters.' %}
                        Hasło musi zawierać przynajmniej 8 znaków.
                    {% elif error == 'The password is too similar to the username.' %}
                        Hasło jest zbyt podobne do nazwy użytkownika.
                    {% elif error == 'This password is too common.' %}
                        Hasło jest zbyt popularne.
                    {% elif error == 'This password is entirely numeric.' %}
                        Hasło składa się tylko z cyfr.
                    {% else %}
                        {{ error }}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        {% for error in form.old_password.errors %}
            <div class="row">
                <div class="alert alert-danger">
                    {% if error == 'Your old password was entered incorrectly. Please enter it again.' %}
                        Twoje stare hasło jest nieprawidłowe, spróbuj ponownie.
                    {% else %}
                        {{ error }}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <div class="row">
            <h1 class="p-0">Zmień hasło</h1>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="row mt-2">
                <label class="p-0 mb-1 form-label" for="id_old_password">Stare hasło</label>
                <input type="password" class="form-control text-bg-dark" id="id_old_password" name="old_password" placeholder="Old Password" required>
            </div>
            <div class="row mt-2">
                <label class="p-0 mb-1 form-label" for="id_new_password1">Nowe hasło</label>
                <input type="password" class="form-control text-bg-dark" id="id_new_password1" name="new_password1" placeholder="New Password" required>
            </div>
            <div class="row mt-2">
                <label class="p-0 mb-1 form-label" for="id_new_password2">Powtórz nowe hasło</label>
                <input type="password" class="form-control text-bg-dark" id="id_new_password2" name="new_password2" placeholder="Confirm New Password" required>
            </div>
            <div class="row mt-4 d-flex justify-content-center align-items-center">
                <input class="btn btn-primary" type="submit" value="Zmień hasło">
            </div>
        </form>
    </div>
{% endblock content %}