{% extends "base.html" %}
{% load static i18n %}

{% block title %}
    {% trans "Dezaktywuj konto" %}
{% endblock title %}

{% block css %}
{% endblock css %}

{% block content %}
    <div class="container mt-5">
        <div class="d-flex justify-content-center">
            <p class="text-center">{% trans "Czy na pewno chcesz dezaktywować swoje konto?" %}</p>
        </div>
        <div class="d-flex justify-content-center mt-3">
            <a href="{% url 'deactivate_account' %}" class="btn btn-danger">{% trans "Potwierdź dezaktywację swojego konta" %}</a>
        </div>
    </div>
{% endblock content %}
