{% extends "base.html" %}
{% load static i18n %}

{% block title %}
    {% trans "Dezaktywuj swój profil" %}
{% endblock title %}

{% block css %}
{% endblock css %}

{% block content %}
    <div class="container mt-5">
        <h1>{% trans "Konto zdezaktywowane" %}</h1>
        <p>{% trans "Twoje konto zostało zdezaktywowane." %}</p>
        <p>
            {% trans "Aby ponownie aktywować swoje konto, skontaktuj się z administratorem strony pod adresem email: stepowa28@gmail.com" %}
        </p>
    </div>
{% endblock content %}
