{% extends "base.html" %}
{% load static i18n %}

{% block css %}
    <link rel="stylesheet" href={% static "account/password_reset.css" %}>
{% endblock css %}

{% block title %}
    {% trans "Sprawdź skrzynkę mailową" %}
{% endblock title %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <h1 class="p-0">{% trans "Email ze zresetowaniem hasła został wysłany." %}</h1>
            <p class="p-0">{% trans "Sprawdź swoją skrzynkę mailową oraz spam." %}</p>
        </div>
    </div>
{% endblock content %}
