{% extends "base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href={% static "account/password_reset.css" %}>
{% endblock css %}
{% block title %}
    Zmień hasło
{% endblock title %}
{% block content %}
    <div class="container mt-5">
        {% if validlink %}
            <div class="row">
                <h1 class="p-0">Zmień hasło</h1>
                <p class="p-0">Podaj hasło dwukrotnie, aby zmienić hasło.</p>
            </div>
            <form action="." method="post">
                {% csrf_token %}
                <div class="row mt-2">
                    <label class="p-0 mb-1" for="id_new_password1">Hasło</label>
                    <input type="password"
                           id="id_new_password1"
                           name="new_password1"
                           class="form-control text-bg-dark"
                           placeholder="Hasło"
                           required />
                </div>
                <div class="row mt-2">
                    <label class="p-0 mb-1" for="id_new_password2">Powtórz hasło</label>
                    <input type="password"
                           id="id_new_password2"
                           name="new_password2"
                           class="form-control text-bg-dark"
                           placeholder="Powtórz hasło"
                           required />
                </div>
                <div class="row mt-4 d-flex justify-content-center align-items-center">
                    <input class="btn btn-primary" type="submit" value="Zmień hasło">
                </div>
            </form>
        {% else %}
            <h3>Link jest nieprawidłowy, spróbuj ponownie.</h3>
        {% endif %}
    </div>
{% endblock content %}
