{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href={% static "account/password_reset.css" %}>
{% endblock css %}

{% block title %}
    Sprawdź skrzynkę mailową
{% endblock title %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <h1 class="p-0">Email ze zresetowaniem hasła został wysłany.</h1>
            <p class="p-0">Sprawdź swoją skrzynkę mailową oraz spam.</p>
        </div>
    </div>
{% endblock content %}
