{% extends "base.html" %}
{% load static %}
{% block title %}
    Mój profil
{% endblock title %}
{% block css %}
    <link rel="stylesheet" href={% static "account/profile.css" %}>
{% endblock css %}
{% block content %}
    <div class="container mt-5">
        <h1>Witaj, {{ user.username }}</h1>
        <h4>Możesz edytować dane twojego konta poniżej:</h4>
        <form method="post">
            {% csrf_token %}
            <div class="row mt-2">
                <label for="username" class="form-label">Nazwa użytkownika</label>
                <input type="text" id="username" name="username" class="form-control text-bg-dark" placeholder="Nazwa użytkownika" value={{ user.username }} required />
            </div>
            <div class="row mt-2">
                <label for="email" class="form-label">Adres email</label>
                <input type="email" id="email" name="email" class="form-control text-bg-dark" placeholder="Adres email" value={{ user.email }} required />
            </div>
            <div class="row mt-4 d-flex justify-content-center align-items-center">
                <input class="btn btn-primary" type="submit" value="Edytuj dane profilu">
            </div>
        </form>
    </div>
{% endblock content %}
