{% extends "base.html" %}
{% load static i18n %}

{% block title %}
    {% trans "Historia edycji komentarza" %}
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'universities/review_history.css' %}">
{% endblock css %}

{% block content %}
    <div class="container mt-5">
        <h1 class="p-0">{% trans "Historia komentarza" %}: {{ comment.description|truncatechars:30 }}</h1>

        {% if comment_history_list %}
                {% for history in comment_history_list %}
                    <div class="card bg-dark text-light mt-4">
                        <h5 class="card-header border-bottom">{% trans "Data" %}: {{ history.modified_date|date:"d.m.Y H:i" }}</h5>
                        <div class="card-body">
                            <p class="card-text">{% trans "Opis" %}: {{ history.description }}</p>
                        </div>
                    </div>
                {% endfor %}
        {% else %}
            <p class="p-0 mt-4">{% trans "Brak historii dla tego komentarza." %}</p>
        {% endif %}
    </div>
{% endblock content %}
