{% extends "base.html" %}
{% load static %}

{% block title %}
    Dodaj recenzję
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static "universities/review_create.css" %}">
{% endblock css %}

{% block content %}
    <div class="container mt-5">
        {% for message in messages %}
            <div class="row p-0">
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">{{ message }}</div>
            </div>
        {% endfor %}
        <div class="row">
            <h1 class="p-0">Dodaj recenzję</h1>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="row mt-2">
                <label for="id_title" class="form-label p-0">Tytuł</label>
                <input type="text"
                       id="id_title"
                       name="title"
                       class="form-control text-bg-dark"
                       placeholder="Tytuł"
                       required
                       maxlength="150" />
            </div>
            <div class="row mt-2">
                <label for="id_description" class="form-label p-0">Opis</label>
                <textarea type="text"
                          id="id_description"
                          name="description"
                          class="form-control text-bg-dark text-area"
                          placeholder="Tytuł"
                          required
                          maxlength="3000"></textarea>
            </div>
            <div class="row mt-2">
                <label for="id_rating" class="form-label p-0">Ocena</label>
                <select class="form-select text-bg-dark"
                        aria-label="Wybierz ocenę"
                        name="rating"
                        required>
                    <option selected value="">Wybierz ocenę</option>
                    <option value="1">⭐☆☆☆☆</option>
                    <option value="2">⭐⭐☆☆☆</option>
                    <option value="3">⭐⭐⭐☆☆</option>
                    <option value="4">⭐⭐⭐⭐☆</option>
                    <option value="5">⭐⭐⭐⭐⭐</option>
                </select>
            </div>
            <div class="row mt-4 d-flex justify-content-center align-items-center">
                <input class="btn btn-primary" type="submit" value="Dodaj recenzję">
            </div>
        </form>
    </div>
{% endblock content %}
