{% extends "base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href={% static "universities/report_review.css" %}>
{% endblock css %}
{% block title %}
    Zgłoś recenzję
{% endblock title %}
{% block content %}
    <div class="container mt-5">
        {% for message in messages %}
            <div class="row p-0">
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">{{ message }}</div>
            </div>
        {% endfor %}
        <div class="row">
            <h1 class="p-0 mb-2">Opisz zgłoszenie</h1>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="row mt-4">
                <textarea type="text"
                          id="id_description"
                          name="description"
                          class="form-control text-bg-dark text-area"
                          placeholder="Opis"
                          maxlength="3000"
                          required> </textarea>
            </div>
            <div class="row mt-4 d-flex justify-content-center align-items-center">
                <input class="btn btn-danger" type="submit" value="Zgłoś recenzję">
            </div>
        </form>
    </div>
{% endblock content %}
