{% extends "base.html" %}
{% load static i18n %}

{% block title %}
    {% trans "Historia edycji recenzji" %}
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'universities/review_history.css' %}">
{% endblock css %}

{% block content %}
    <div class="container mt-5">
        <h1 class="p-0">{% trans "Historia recenzji" %}: {{ review.title }}</h1>

        {% if review_history_list %}
            {% for history in review_history_list %}
                <div class="card bg-dark text-light mt-4">
                    <h5 class="card-header border-bottom">{% trans "Data" %}: {{ history.modified_date|date:"d.m.Y H:i" }}</h5>
                    <div class="card-body">
                        <h5 class="card-title mb-2">{% trans "Tytuł" %}: {{ history.title }}</h5>
                        <h6 class="card-subtitle mb-1">{% trans "Ocena" %}:
                            {% if history.rating == 5 %}
                                ⭐⭐⭐⭐⭐
                            {% elif history.rating == 4 %}
                                ⭐⭐⭐⭐☆
                            {% elif history.rating == 3 %}
                                ⭐⭐⭐☆☆
                            {% elif history.rating == 2 %}
                                ⭐⭐☆☆☆
                            {% elif history.rating == 1 %}
                                ⭐☆☆☆☆
                            {% endif %}
                        </h6>
                        <p class="card-text">{% trans "Opis" %}: {{ history.description }}</p>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p class="p-0 mt-4">{% trans "Brak historii dla tej recenzji." %}</p>
        {% endif %}
    </div>
{% endblock content %}
