{% extends "base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static "universities/review_detail.css" %}">
{% endblock css %}
{% block title %}
    Uczelnia
{% endblock title %}
{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="card bg-dark">
                <h5 class="card-header ">{{ review.title }}</h5>
                <div class="card-body">
                    <h5 class="card-title">Ocena: {{ review.rating }}/5</h5>
                    <p class="card-text">{{ review.description }}</p>
                    <p class="card-text">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="24"
                             height="24"
                             fill="currentColor"
                             class="bi bi-person-circle me-1 "
                             viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                        </svg>
                        {{ review.user.username }}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
