{% extends "base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static "universities/university_detail.css" %}">
{% endblock css %}
{% block title %}
    Uczelnia
{% endblock title %}
{% block content %}
    <div class="container mt-5">
        {% for message in messages %}
            <div class="row p-0">
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">{{ message }}</div>
            </div>
        {% endfor %}
        <div class="row">
            <h1 class="mb-3">{{ university.name }}</h1>
            <h3 class="mb-3">Lokalizacja: {{ university.city }}, {{ university.voivodeship | capfirst }}</h3>
        </div>
        <div class="row">
            <h4 class="mb-3">
                Chcesz dowiedzieć się więcej na temat tej uczelni? <a href="{{ university.link }}">Przejdź do strony uczelni.</a>
            </h4>
        </div>
        <hr class="mt-3">
        <a href="{% url 'review_create' university.pk %}"
           class="btn btn-primary my-3">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="24"
                 height="24"
                 fill="currentColor"
                 class="bi bi-plus-circle me-1"
                 viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
            </svg>
        Dodaj opinię o uczelni</a>
        <h3 class="mb-3">Jesteś ciekawy, jaką opinię mają studenci i absolwenci na temat tej uczelni? Zerknij niżej!</h3>
        {% for review in reviews %}
            <div class="card bg-dark mt-3">
                <h5 class="card-header ">{{ review.title }}</h5>
                <div class="card-body">
                    <h5 class="card-title">
                        Ocena:
                        {% if review.rating == 5 %}
                            ⭐⭐⭐⭐⭐
                        {% elif review.rating == 4 %}
                            ⭐⭐⭐⭐☆
                        {% elif review.rating == 3 %}
                            ⭐⭐⭐☆☆
                        {% elif review.rating == 2 %}
                            ⭐⭐☆☆☆
                        {% elif review.rating == 1 %}
                            ⭐☆☆☆☆
                        {% endif %}
                    </h5>
                    <p class="card-text">{{ review.description }}</p>
                    <p class="card-text">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="24"
                             height="24"
                             fill="currentColor"
                             class="bi bi-person-circle me-1 "
                             viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                        </svg>
                        {{ review.user.username }}
                    </p>
                    <p class="card-text">
                        <a href="{% url 'review_detail' review.pk %}" class="btn btn-primary">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 width="24"
                                 height="24"
                                 fill="currentColor"
                                 class="bi bi-chat-left me-1"
                                 viewBox="0 0 16 16">
                                <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                            </svg>
                        Zobacz komentarze ({{ review.comment_set.count }})</a>
                    </p>
                    <div class="row">
                        <div class="col-6">
                            {% with total_likes=review.users_like.count %}
                                <span class="count-{{ review.id }} btn btn-light me-2">
                                    <span class="total">{{ total_likes }}</span>
                                    polubień
                                </span>
                            {% endwith %}
                            <a href="#"
                               class="like btn btn-primary me-2"
                               data-id="{{ review.id }}"
                               data-action="{% if request.user in review.users_like.all %}un{% endif %}like">
                                {% if request.user not in review.users_like.all %}
                                    👍 Lubię
                                {% else %}
                                    👎 Nie lubię
                                {% endif %}
                            </a>
                        </div>
                        <div class="col-6 d-flex justify-content-end align-items-end">
                            <a href="{% url 'review_report_create' review.pk %}"
                               title="Zgłoś opinię"
                               class="btn btn-danger">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     width="16"
                                     height="16"
                                     fill="currentColor"
                                     class="bi bi-flag-fill me-1"
                                     viewBox="0 0 16 16">
                                    <path d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12.435 12.435 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A19.626 19.626 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a19.587 19.587 0 0 0 1.349-.476l.019-.007.004-.002h.001" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>Brak opinii dla tej uczelni.</p>
        {% endfor %}
    </div>
{% endblock content %}
{% block domready %}
    $('a.like').click(function(e){
    e.preventDefault();
    var button = $(this); // Store the clicked button
    var reviewId = button.data('id'); // Get the review ID
    var action = button.data('action'); // Get the action (like/unlike)
    $.post('{% url "like" %}', {id: reviewId, action: action}, function(data){
    if (data['status'] == 'ok') {
    var previousAction = button.data('action');
    var countSpan = $('.count-' + reviewId + ' .total');
    var previousLikes = parseInt(countSpan.text());
    // Toggle data-action
    button.data('action', previousAction == 'like' ? 'unlike' : 'like');
    // Toggle link text
    button.text(previousAction == 'like' ? '👎 Nie lubię' : '👍 Lubię');
    // Update total likes
    countSpan.text(previousAction == 'like' ? previousLikes + 1 : previousLikes - 1);
    }
    });
    });
{% endblock domready %}
