{% extends "base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href={% static "universities/university_list.css" %}>
{% endblock css %}
{% block title %}
    Uczelnie
{% endblock title %}
{% block content %}
    <div class="container mt-5">
        {% for message in messages %}
            <div class="row p-0">
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">{{ message }}</div>
            </div>
        {% endfor %}
        <div class="row">
            <h1 class="p-0">Wyszukaj uczelnię</h1>
        </div>
        <form action="." method="get" name="SearchForm">
            <div class="row mt-2">
                <label class="p-0 mb-1">Nazwa uczelni</label>
                <input type="text"
                       id="id_name"
                       name="name"
                       value="{{ name_value }}"
                       class="form-control text-bg-dark"
                       placeholder="Nazwa użytkownika" />
            </div>
            <div class="row mt-2">
                <label class="p-0 mb-1">Miasto</label>
                <select class="form-select text-bg-dark"
                        aria-label="Wybierz miasto"
                        name="city">
                    <option value="">Wszystkie miasta</option>
                    {% for city in cities %}
                        <option {% if city_value == city %}selected{% endif %} value="{{ city }}">{{ city }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="row mt-2">
                <label class="p-0 mb-1">Województwo</label>
                <select class="form-select text-bg-dark"
                        aria-label="Wybierz województwo"
                        name="voivodeship">
                    <option value="">Wszystkie województwa</option>
                    {% for voivodeship in voivodeships %}
                        <option {% if voivodeship_value == voivodeship %}selected{% endif %}
                                value="{{ voivodeship }}">{{ voivodeship|capfirst }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="row mt-4 d-flex justify-content-center align-items-center">
                <button class="btn btn-primary" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="24"
                         height="24"
                         fill="currentColor"
                         class="bi bi-search me-1"
                         viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg>
                    Szukaj uczelni
                </button>
            </div>
        </form>
    </div>
    <div class="container mt-5 d-flex flex-wrap justify-content-center">
        {% if universities %}
            {% for university in universities %}
                <div class="card bg-dark">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{ university.name }}</h5>
                        <p class="card-text">Lokalizacja:</p>
                        <p>{{ university.city }}, {{ university.voivodeship | capfirst }}</p>
                        {% comment %} {% if university.avg_rating %}<p>Średnia ocena: {{ university.avg_rating|floatformat:"0" }}/5</p>{% endif %} {% endcomment %}
                        {% if university.avg_rating %}
                            {% with avg_rating=university.avg_rating %}
                                {% if avg_rating >= 4.5 %}
                                    <p class="mt-auto">⭐⭐⭐⭐⭐</p>
                                {% elif avg_rating >= 3.5 %}
                                    <p class="mt-auto">⭐⭐⭐⭐☆</p>
                                {% elif avg_rating >= 2.5 %}
                                    <p class="mt-auto">⭐⭐⭐☆☆</p>
                                {% elif avg_rating >= 1.5 %}
                                    <p class="mt-auto">⭐⭐☆☆☆</p>
                                {% else %}
                                    <p class="mt-auto">⭐☆☆☆☆</p>
                                {% endif %}
                            {% endwith %}
                        {% else %}
                            <p class="mt-auto">Brak ocen</p>
                        {% endif %}
                        <a href="{{ university.link }}" class="btn btn-primary button mt-auto">Przejdź do strony uczelni</a>
                        <a href="{% url 'university_detail' university.pk %}"
                           class="btn btn-primary mt-2">Zobacz opinie</a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h1>Nie znaleziono uczelni o takich kryteriach</h1>
        {% endif %}
    </div>
{% endblock content %}
