.card {
    color: white;
    border: 1px solid white;
    margin-bottom: 10px;
}

.button {
    background-color: transparent;
}

.border-bottom {
    border-bottom: 1px solid white;
}

hr {
    color: white;
}

.sort {
    width: 300px;
}

.picker {
    background-color: #212529;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}

@media (max-width: 412px) {
    .btn-danger {
        padding: 0px;
        width: 30px;
        height: 30px;
    }

    a.like.btn.btn-primary {
        margin-top: 16px;
    }
}

@media (max-width: 506px) and (min-width: 413px) {
    .review-like {
        margin-top: 16px;
    }
}